<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--日志会打印到控制台上-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!--如果想将日志打印到日志文件中要选择FileAppender-->


    <!--日志级别 DIWE debug info warn error-->
    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>